Microservice_WCF_library/MicroServiceClient/Connected Services/GetEstimateService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microservice_WCF_library.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microservice_WCF_library.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SOCRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProductInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SOCRequest" nillable="true" type="tns:SOCRequest" />
  <xs:complexType name="ArrayOfProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductInfo" nillable="true" type="tns:ProductInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductInfo" nillable="true" type="tns:ArrayOfProductInfo" />
  <xs:complexType name="ProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductIOSC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductInfo" nillable="true" type="tns:ProductInfo" />
  <xs:complexType name="SOCResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Productlst" nillable="true" type="tns:ArrayOfProductInfo" />
      <xs:element minOccurs="0" name="SOCEstimate" nillable="true" type="tns:SOCEstimate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SOCResponse" nillable="true" type="tns:SOCResponse" />
  <xs:complexType name="SOCEstimate">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstBill" type="xs:decimal" />
      <xs:element minOccurs="0" name="Monthly" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxResponse" nillable="true" type="tns:TaxResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SOCEstimate" nillable="true" type="tns:SOCEstimate" />
  <xs:complexType name="TaxResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstBillTaxes" type="xs:decimal" />
      <xs:element minOccurs="0" name="MonthlyTaxes" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxResponse" nillable="true" type="tns:TaxResponse" />
  <xs:complexType name="TaxRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstBillCharges" type="xs:decimal" />
      <xs:element minOccurs="0" name="MonthlyCharges" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxRequest" nillable="true" type="tns:TaxRequest" />
</xs:schema>